{% extends '::content.html.twig' %}

{% block contentTitle %}{{ "Sistema de Esgotamento" }}{% endblock %}

{% block contentBody %}

    <br>
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('home') }}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{{ path('depletion_system') }}">Sistema de Esgotamento</a>
        </li>
    </ul>

    <br>

    <div class="portlet light">
        <div>
            <h4 class="profile-desc-title">Panorama Atual</h4>
            <span class="profile-desc-text">Cobertura com coleta: 80,7%</span>
            <span class="profile-desc-text">Cobertura com atendimento: 78,2%</span>
            <span class="profile-desc-text">Cobertura com tratamento:  <10%</span>
            <br>
            <br>
            <h4 class="profile-desc-title">Interface PPP x Sabesp</h4>
            <span class="profile-desc-text">
                A Sabesp ficará responsável pela operação das redes coletores, ramais prediais e elevatórias de rede, assim como a expansão das redes (crescimento vegetativo) e novas ligações de esgoto. A Sabesp receberá parte do esgoto gerado em Guarulhos nas ETEs Parque Novo Mundo e São Miguel, ficando assim responsável pelas ampliações necessárias.
                <br><br>
A PPP ficará responsável pela implantação e operação dos coletores tronco e estações elevatórias do sistema de afastamento e pela operação das estações de tratamento, além da implantação de outras 02 ETEs (Cabuçu e Fortaleza). Atualmente existem 03 ETEs em operação no município: Várzea do Palácio, Bonsucesso e São João.

            </span>
            <br><br>
            <h4 class="profile-desc-title">Estações de Tratamento</h4>
            <span class="profile-desc-text">
                7 ETEs estão previstas na concepção do sistema de esgotamento sanitário de Guarulhos. Há uma possibilidade de reversão do SES Fortaleza para a ETE São João eliminando assim a implantação da ETE Fortaleza.
            </span>

            <br><br>
            <h4 class="profile-desc-title">Extensão de rede de esgotamento</h4>
            <span class="profile-desc-text">
                Aproximadamente 1.700 km de redes coletoras (não incluso sistema de afastamento: coletores e interceptores).
            </span>
        </div>
    </div>

{% endblock %}