{% extends '::content.html.twig' %}
{% import '::macro.html.twig' as table %}


{% block contentTitle %}{{ "Projeto Guarulhos" }}{% endblock %}
{% block contentSubtitle %}{{ "Informações sobre a integração de Guarulhos à Sabesp" }}{% endblock %}

{% block contentBody %}

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="{{ path('information_city') }}">
                <div class="visual">
                    <i class="fa fa-book"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>Informações</span>
                    </div>
                    <div class="desc">do Municipio</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>Sistema</span>
                    </div>
                    <div class="desc">de Abastecimento</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                <div class="visual">
                    <i style="margin-left: -16px;" class="fa fa-tint"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>Sistema</span>
                    </div>
                    <div class="desc">de Esgotamento</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>Grandes</span></div>
                    <div class="desc">Clientes</div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                <div class="visual">
                    <i class="fa fa-wrench"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>Força</span>
                    </div>
                    <div class="desc">de Trabalho</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                <div class="visual">
                    <i class="fa fa-users"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>Clientes</span>
                    </div>
                    <div class="desc">&nbsp;</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                <div class="visual">
                    <i class="fa fa-line-chart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>Faturamento</span>
                    </div>
                    <div class="desc">e Arrecadação</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                <div class="visual">
                    <i class="fa fa-times"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>Perdas</span></div>
                    <div class="desc">&nbsp;</div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue-madison" href="#">
                <div class="visual">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span>Ativos</span>
                    </div>
                    <div class="desc">&nbsp;</div>
                </div>
            </a>
        </div>
    </div>

{% endblock %}