{% extends '::content.html.twig' %}

{% block contentTitle %}{{ "Upload de Arquivos" }}{% endblock %}

{% block contentBody %}

    <h1>Adding a new product</h1>

    {{ form_start(form) }}
    {# ... #}

    {{ form_row(form.name) }}
    {{ form_end(form) }}

{% endblock %}