{% extends '::content.html.twig' %}

{% block pageCss %}
    <style>
        .btn-icon-only {
            height: 100px;
            width: 100px;
            text-align: center;
            font-size: 60px;
        }

        .btn-icon-only .icon {
            display: inline;
            padding-left: 0;
            padding-right: 0;
            font-size: 60px;
        }
    </style>
{% endblock %}

{% block contentTitle %}{{ "Information City"|trans }}{% endblock %}

{% block contentBody %}

    <div class="portlet light">
        <div class="row list-separated profile-stat">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-text">
                    Fundação
                </div>
                <div class="uppercase profile-stat-title">
                    29/05/1487
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-text">
                    Aniversário
                </div>
                <div class="uppercase profile-stat-title">
                    29/05/1990
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-text">
                    Área
                </div>
                <div class="uppercase profile-stat-title">
                    10974573487,03Km
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-text">
                    Populalação
                </div>
                <div class="uppercase profile-stat-title">
                    680.000
                </div>
            </div>
        </div>
        <div>
            <h4 class="profile-desc-title">Outras Informações</h4>
            <span class="profile-desc-text">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</span>
        </div>
    </div>

    <div class="portlet light portlet-fit bordered">
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-push-5 col-sm-2 col-xs-6">
                    <a href="{{ path('information_city_maps') }}" class="btn btn-circle btn-icon-only blue pull-right">
                        <i class="fa fa-map-marker icon"></i>
                    </a>
                </div>

                <div class="col-md-3 col-sm-2 col-xs-6">
                    <a href="{{ path('information_city_photos') }}" class="btn btn-circle btn-icon-only blue pull-right">
                        <i class="fa fa-photo icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}