{% extends '::content.html.twig' %}

{% block contentTitle %}{{ "Informações do Município - Mapas" }}{% endblock %}

{% block contentBody %}

    {#<div id="api">{{ api|raw }}</div>#}
    {#<div id="map">{{ map|raw }}</div>#}

{% endblock %}