{% extends '::content.html.twig' %}

{% block contentTitle %}{{ "Informações do Município - Fotos" }}{% endblock %}

{% block contentBody %}

    <ul class="mix-filter"></ul>

    <div class="row mix-grid">

        {% for photo in photos %}

            <div class="col-md-4 col-sm-4 mix category_1 mix_all" style="height: 300px; width: 300px; display: block; opacity: 1">
                <div class="mix-inner">
                    <a class="fancybox-button"
                       href="{{ asset('bundles/backend/img/information_city_photos/' ~ photo ) }}"
                        data-rel="fancybox-button">
                        <img class="img-responsive" style="height: 300px; width: 300px;"
                             src="{{ asset('bundles/backend/img/information_city_photos/' ~ photo ) }}" alt="">
                    </a>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}